.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

label, input, p {
  color: white;
}

input {
  width: 87.14px;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-row {
  display: flex;
  max-height: 500px;
  overflow-y: auto;
  gap: 10px;
}

.table-row p {
  margin: 0;
  padding: 0;
  background-color: gray;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}